.container{
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(174,227,133,1) 33%, rgba(142,198,98,1) 57%, rgba(114,181,60,1) 80%); 
  display: flex;
}

.left{
  flex: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 300px;
  z-index: 1;

  .apple{
    position: relative;
    height: 95px;
    cursor: pointer;      
    animation: Shake 1s infinite;
      
      @keyframes Shake{
        0%{transform: rotate(40deg);}
        50%{transform: rotate(-40deg);}
        100%{transform: rotate(40deg);}
      }
  }
  .appleFall{
      animation: Fall 4.9s linear ;
      @keyframes Fall  {
  
        15% { transform: rotate(20deg) translate3d(450px,-150px,0) rotate(-20deg) scale(0.15);}
        30% { transform: rotate(40deg) translate3d(750px,-630px,0) rotate(-40deg)scale(0.3);}
        45% { transform: rotate(60deg) translate3d(980px,-1600px,0) rotate(-60deg)scale(0.45);}
        60% { transform: rotate(90deg) translate3d(1050px,-2000px,0) rotate(-90deg)scale(0.6);}
        100%{ transform: rotate(45deg) translate3d(300px,415px,0px) rotate(-45deg) scale(1.25);}
        
        
      }
      animation-fill-mode: forwards;
   }
  .start{
    position: absolute;
    top: 680px;
    left: 10px;
    width: 200px;
    height: 75px;
    font-size: 1.9rem;
    padding: 10px;
    font-weight: 400 ;
    color: white;
    background-color: rgb(32, 168, 32);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    }

  .invisBtn{
      animation: Big 5.4s linear ;
      
      @keyframes Big  {
      90% {
       opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
    animation-fill-mode: forwards;
  }
 
  .title{
    position: relative;
    font-weight: bold;
    font-size: 8.5rem;
    letter-spacing: 0.1rem;
  }

  .o{
    position: absolute;
    font-weight: 600;
    opacity: 0; 
   }

  .circle{
      animation: Circle 5.4s linear ;
        
      @keyframes Circle  {
      85% {
      opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
    animation-fill-mode: forwards;
  }

  .desc{
    width: 520px;
    flex-wrap: wrap;
    font-size: 2.6rem;
    font-weight: 600;
  
  }
  .grow{
    position: absolute;
    font-size:1px;
    top: 340px;
    font-weight: 600;
   
  }
  .Grows{
    animation: Grow 5.4s;
    @keyframes Grow {
      75% {
        font-size: 1px;
      }
      
      100%{
        font-size: 60px;
        color:rgb(22, 168, 22)
      }
    }
    animation-fill-mode: forwards;
  }
}

.right{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; 
  .box{
    position: relative;
    border: 0.5rem solid #a2e08fe3;
    width: 1000px;
    height: 800px;
  }

  .oval{
    position: relative;
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
    border: 0.25rem  solid #a2e08fe3;
    padding: 10px;
    cursor: pointer;
   
    &:nth-child(2){
      position: absolute;
      z-index: 10;
      top: 5%;
      left: -100px;
    }
    &:nth-child(3){
      position: absolute;
      z-index: 10;
      bottom: 5%;
      left: -100px;
    }
    &:nth-child(4){
      position: absolute;
      z-index: 10;
      bottom: -95px;
      left: 5%;
    }
    &:nth-child(5){
      position: absolute;
      z-index: 10;
      top: -95px;
      left: 5%;
    }
  }

}
